body{
    background-color: #90EE90;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
    
}
ul li a{
    text-decoration: none;
    font-family: Courier,Georgia,"Times new Roman", Times, serif;
    color: #006400;
    background-color: #7CFC00;
    display: block;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border-right: 1px solid #32CD32;
    border-bottom: 1px solid #32CD32;    
    text-align: center;
    height: 15px;
    
    
    
}
ul li a:hover{
    background-color: #98FB98;
    Color: #006400;
}

